In [70]:
import numpy as np

file_path = "space.csv"
dados = np.genfromtxt(file_path, delimiter=";", dtype=str, encoding="utf-8", skip_header=1)

# 1. Porcentagem de missões que deram certo

In [65]:
status_missoes = dados[:, -1]
total_missoes = len(status_missoes)
missoes_sucesso = np.sum(status_missoes == "Success")
percentual_sucesso = (missoes_sucesso / total_missoes) * 100
print(f"1. Porcentagem de missões bem-sucedidas: {percentual_sucesso:.2f}%")

1. Porcentagem de missões bem-sucedidas: 89.71%

# 2. Média de gastos de missões com valores disponíveis (> 0)

In [66]:
custos = dados[:, -2]
custos = np.where(custos == "", "0", custos)
custos = custos.astype(float)
custos_validos = custos[custos > 0]
media_custos = np.mean(custos_validos)
print(f"2. Média de gastos de missões: ${media_custos:.2f} milhões")

2. Média de gastos de missões: $153.79 milhões

# 3. Quantidade de missões realizadas pelos EUA

In [67]:
locais = dados[:, 2]
missoes_eua = np.sum(np.char.find(locais, "USA") >= 0)
print(f"3. Número de missões realizadas pelos EUA: {missoes_eua}")

3. Número de missões realizadas pelos EUA: 1344

# 4. Missão mais cara da SpaceX

In [68]:
empresas = dados[:, 1]
print(empresas)
spacex_missoes = dados[empresas == "SpaceX"]
custos_spacex = spacex_missoes[:, -2].astype(float)
indice_max_custo = np.argmax(custos_spacex)
missao_mais_cara = spacex_missoes[indice_max_custo, 4] 
print(f"4. Missão mais cara da SpaceX: {missao_mais_cara} - ${custos_spacex[indice_max_custo]} milhões")

['SpaceX' 'CASC' 'SpaceX' ... 'US Navy' 'RVSN USSR' 'RVSN USSR']
4. Missão mais cara da SpaceX: Falcon Heavy | STP-2 - $90.0 milhões

# 5. Empresas e quantidades de missões

In [57]:
empresas_unicas, contagens = np.unique(empresas, return_counts=True)
print("5. Empresas e quantidades de missões:")
for empresa, quantidade in zip(empresas_unicas, contagens):
    print(f"- {empresa}: {quantidade} missões")

5. Empresas e quantidades de missões:
- AEB: 3 missões
- AMBA: 8 missões
- ASI: 9 missões
- Arianespace: 279 missões
- Arm??e de l'Air: 4 missões
- Blue Origin: 12 missões
- Boeing: 136 missões
- CASC: 251 missões
- CASIC: 5 missões
- CECLES: 4 missões
- CNES: 8 missões
- Company Name: 1 missões
- Douglas: 1 missões
- EER: 1 missões
- ESA: 13 missões
- Eurockot: 13 missões
- ExPace: 10 missões
- Exos: 4 missões
- General Dynamics: 251 missões
- IAI: 11 missões
- ILS: 46 missões
- IRGC: 1 missões
- ISA: 13 missões
- ISAS: 30 missões
- ISRO: 76 missões
- JAXA: 7 missões
- KARI: 3 missões
- KCST: 5 missões
- Khrunichev: 1 missões
- Kosmotras: 22 missões
- Land Launch: 7 missões
- Landspace: 1 missões
- Lockheed: 79 missões
- MHI: 84 missões
- MITT: 7 missões
- Martin Marietta: 114 missões
- NASA: 203 missões
- Northrop: 83 missões
- OKB-586: 2 missões
- OneSpace: 1 missões
- RAE: 2 missões
- RVSN USSR: 1777 missões
- Rocket Lab: 13 missões
- Roscosmos: 55 missões
- SRC: 3 missões
- Sandia: 1 missões
- Sea Launch: 36 missões
- SpaceX: 100 missões
- Starsem: 1 missões
- ULA: 140 missões
- US Air Force: 161 missões
- US Navy: 17 missões
- UT: 5 missões
- VKS RF: 201 missões
- Virgin Orbit: 1 missões
- Yuzhmash: 2 missões
- i-Space: 1 missões